.root {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.title {
    padding: 8px;
}

.right a {
    padding: 8px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.link {
    color: #6F7070;
    font-weight: bold;
    text-decoration: none;
}
